# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("output_data/weather_data.csv", encoding = 'utf-8')
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Itarema,7,BR,1569278613,80,-2.92,-39.92,77.09,11.10
1,Jamestown,0,AU,1569278614,53,-33.21,138.60,55.67,1.79
2,Cape Town,0,ZA,1569278465,77,-33.93,18.42,60.01,11.41
3,Provideniya,20,RU,1569278616,60,64.42,-173.23,39.20,2.24
4,Mount Isa,75,AU,1569278617,14,-20.73,139.49,71.60,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
#Use the Lat and Lng as locations and Humidity as the weight
locations = weather_data[["Lat","Lng"]]
humidity = weather_data["Humidity"].astype(float)
max_humidity = humidity.max()

In [6]:
#Add Heatmap layer to map.
hum_heatmap = gmaps.figure()
heat_layer =  gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=max_humidity,point_radius=3)
hum_heatmap.add_layer(heat_layer)
hum_heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
#narrow down the cities to fit weather conditions
subsetcity_df = weather_data.loc[(weather_data["Max Temp"] > 70) & (weather_data["Max Temp"] < 80) & (weather_data["Cloudiness"] == 0), :]
#drop null values
subsetcity_df = subsetcity_df.dropna(how='any')
subsetcity_df.reset_index(inplace=True)
del subsetcity_df['index']
subsetcity_df.head(10)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Pisco,0,PE,1569278625,30,-13.71,-76.20,71.60,6.93
1,Atuona,0,PF,1569278783,79,-9.80,-139.03,79.43,17.25
2,Boende,0,CD,1569278793,83,-0.28,20.88,74.57,1.43
3,Khuzdar,0,PK,1569278887,47,27.80,66.62,71.51,0.29
4,Mailani,0,IN,1569278917,88,28.29,80.34,73.49,2.86
5,Erzin,0,TR,1569278938,43,36.95,36.20,72.00,6.93
6,Alcala,0,PH,1569278951,83,15.84,120.52,79.97,4.94
7,Guerrero Negro,0,MX,1569278965,73,27.97,-114.04,73.49,12.17
8,Sayyan,0,YE,1569279009,52,15.17,44.32,71.51,1.10
9,El Sauzal,0,AR,1569279080,31,-24.30,-64.96,75.20,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map